@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body {
    background-color: black;
    color: white;
    margin-top: 80px;
    margin-left: 40px;
}
h1 {
    font-size: 3.0rem;
}
section.s1, section.s2, section.s3 {
    margin-top: 20px;
}
section.s1 > div {
    margin-top: 20px;
    margin-bottom: 30px;
}
section.s2 > div {
    display: inline-block;
    margin: 07px;
}
section.s2 > div > div#circle {
    width: 70px;
    height: 70px;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
}
section.s2 > div > p {
    text-align: center;
    margin-top: 10px;
}
#l1 {
    display: inline-flex;
}
#pag, #buscar {
    display: inline-flex;
    align-items: center;
}
#seta, #money2, #ampul {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
#porco {
    color: lightgreen;
}
section.s3 > div {
    background-color: rgb(53, 53, 53);
    width: 250px;
    height: 20px;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 60px;
}
section#historico > h2 {
    margin-bottom: 30px;
}
#buscar {
    background-color: rgb(53, 53, 53);
    width: 350px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 60px;
}
#card {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
#boleto {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
#dinheiro {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
    color: lightgreen;
}
#back-compra {
    margin-bottom: 40px;
}
#back-compra > p {
    color: rgb(170, 170, 170);
}
a {
    text-decoration: none;
    color: white;
}